<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper"  [ngClass]="status ? 'hide' : 'show'">
    <div class="sidebar-heading">Admin</div>
    <div class="list-group list-group-flush">
      <a routerLink = '/admin/quan-ly-khach-hang'  class="list-group-item list-group-item-action bg-light">Quản lý khách hàng</a>
      <a routerLink = '/admin/quan-ly-danh-muc' class="list-group-item list-group-item-action bg-light">Quản lý danh mục sản phẩm</a>
      <a routerLink = '/admin/quan-ly-color' class="list-group-item list-group-item-action bg-light">Quản lý color</a>
      <a routerLink = '/admin/quan-ly-size' class="list-group-item list-group-item-action bg-light">Quản lý size</a>
      <a routerLink = '/admin/quan-ly-discount' class="list-group-item list-group-item-action bg-light">Quản lý discount</a>
      <a routerLink = '/admin/quan-ly-san-pham' class="list-group-item list-group-item-action bg-light">Quản lý sản phẩm</a>
      <a routerLink = '/admin/quan-ly-doanh-thu' class="list-group-item list-group-item-action bg-light">Quản lý doanh thu</a>
      <a routerLink = '/admin/quan-ly-profile' class="list-group-item list-group-item-action bg-light">Quản lý profile</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <div class="container-fluid">
        <button (click)="clickEvent()" mat-fab color="primary" aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

    </nav>

    <div class="container-fluid">
      <!-- <h1 class="mt-4">Angular 13 Bootstrap 5 Simple Sidebar Template</h1>
      <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
      <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration.</p> -->
      <router-outlet ></router-outlet>
    </div>


  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
