<mat-card class="custom-card">
    <mat-card-header>
        <h1>Quản lý khách hàng</h1>
        <button style="float: left; margin-left: auto;" mat-raised-button color="primary"><mat-icon>refresh</mat-icon> Refresh</button>
    </mat-card-header>
    <mat-card-content>
        <div class="row" style="margin-top: 2%;">
            <div class="col-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><mat-icon>search</mat-icon></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
            </div>
            <div class="col-6 text-right">
                <button mat-raised-button color="accent">+ Thêm mới</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<br>
<mat-card class="custom-card">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
</mat-card>

